body, html {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    
} 
.logo{
  height: 50px;
  margin-right: 280px;
}
.nav{
  display: flex;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.first-layout{
  justify-content: center;
}
.first-heading{
  text-align: center;
}
.btn{
  text-align: center;
  padding: 10px 20px;
  background-color: orange;
  color: black;
  border-radius: 10px;
}

li {
  
  float: left;
}

li a {
  display: block;
  color: #666;
  align-items: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
}
.intro-img{
  height: 400px;
  width: 100%;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}
.cards{
  text-align: center;
}
.cards-para{
  color: yellow;
}
.flex-container{
  display: flex;
  justify-content: center;
  background-color: rgb(226, 219, 219);
  padding: 50px 0px;
}
.card-para{
  color: orange;
}
.box{
  width: 200px;
  background-color: white;
  border: 3px solid grey;
  box-shadow: #666 !important;
  margin: 0px 15px;
  /* padding: 10px 0px; */
  border-radius: 20px;
}
.box-img{
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
.agency{
  column-count: 2;
  justify-content: center;
  padding: 10px 0px;
  
}
.write-up-img{
  width: 400px;
}
.agency-para{
  font-size: 30px;
  text-align: left;
}
.agency2{
  column-count: 2;
  justify-content: center;
  padding: 10px 0px;
  background-color: rgb(226, 219, 219);
  
}

#testimonial{
  justify-content: center;
  margin-bottom: 50px;
}
.testimony{
  width: 200px;
}
.testimony .name{
  color: red;
}
.info-img{
  width: 150px;
  height: 150px;
  border-radius: 150px;
  margin-right: 20px;
}
.info-box{
  display: flex;
  justify-content: center;
}

#updates{
  background-color: bisque;
  justify-content: center;
  padding: 0px 30px;
}
.news{
  justify-content: center;
  display: flex;

}
.news-img{
  width: 200px;
  height: 200px;
}
.news-box{
  width: 200px;
  background-color: white;
  border: 3px solid orange;
  box-shadow: #666 !important;
  margin: 20px 15px;
  
}
@media(max-width:320px){
  ul{
    display: none;
  }
  .flex-container , .news{
    display: block;
    justify-content: center;
    
  }
  .agency , .agency2{
    column-count: 1;
  }
  .write-up-img{
    width: 200px;
  }
  .box{
    margin-left: 50px;
    margin-top: 10px;
  }
}
@media(max-width:375px){
  ul{
    display: none;
  }
  .flex-container , .news{
    display: block;
    justify-content: center;
    
  }
  .agency , .agency2{
    column-count: 1;
  }
  .write-up-img{
    width: 200px;
  }
  
}
@media(max-width:425px){
  ul{
    display: none;
  }
  .flex-container , .news{
    display: block;
    justify-content: center;
    
  }
  .agency , .agency2{
    column-count: 1;
  }
  .write-up-img{
    width: 200px;
  }
}
